:root {
    --overcast-day: url('./img/bg/overcast-day.jpg');
    --overcast-night: url('./img/bg/overcast-night.webp');
    --partially-cloudy-day: url('./img/bg/partially-cloudy-day.jpg');
    --partially-cloudy-night: url('./img/bg/partially-cloudy-night.jpg');
    --clear-day: url('./img/bg/clear-day.jpg');
    --clear-night: url('./img/bg/clear-night.jpg');
    --snow-day: url('./img/bg/snow-day.jpg');
    --snow-night: url('./img/bg/snow-night.jpg');
    --rain-day: url('./img/bg/rain-day.jpeg');
    --rain-night: url('./img/bg/rain-night.jpg');


}

body {
    margin: 0;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(75deg, #95d5ff 10%, #36A3EE);
    min-height: 100vh;
    background-size: cover;
    --bg: var(--clear-day);
}

body.day {
    background: linear-gradient(75deg, #ffffff 10%, #fff0),aliceblue var(--bg);
    background-size: cover;

}


body.night {
    color: #ffffff;
    background: linear-gradient(75deg, #000 10%, #fff0),rgb(14, 37, 57) var(--bg);
    background-size: cover;

}

header {
    background: #014CA7;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    gap:50px;

}

header h1 {
    margin: 0;
    font-size: 16px;
}

header h1 span {
    font-weight: 400;
}

header #search-bar {
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #3281DA;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
}

#search-cont {
    flex: 2;
    text-align: center;
}

.toggle-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.units-toggle-label span.switch {
    width: 30px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    background-color: #124888;
    border: 2px solid #B2CFF1;
    display: block;
    cursor: pointer;
}

.units-toggle-label span.switch::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #ffffff;
    position: absolute;
    left: 0;
    transition: 0.4s;
}

#units-toggle:checked ~ span.switch::before {
    left: 15px;
}

#units-toggle {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


#dashboard {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
  }
  
.forecast-cards-cont {
padding: 40px;
}


.location-header {
    text-align: center;
    color: #003b80;
    text-align: left;
}

body.night .location-header {
    color: #ffffff;
}

.current-conditions-cont{
    display: flex;
    flex-direction: column;
    color: #0350aa;
    margin: 0 auto;
    padding: 30px 40px;
    gap: 20px;
    width: 100%;
}

body.night .current-conditions-cont{
    color: #ffffff;
}

.current-conditions-details {
    display: flex;
    gap: 40px;
}

.current-conditions-main:empty, .current-conditions-secondary:empty {
    display: none;
}

.current-conditions-main {
    border-radius: 20px;
    text-align: left;
    font-size: 22px;
}

body.night .current-conditions-main img {
    filter: invert(1) brightness(5) hue-rotate(190deg);
}

.current-conditions-secondary {
    padding: 20px 0 20px 20px;
    border-left: 1px solid #bcbcbc;
    font-size: 16px;
}

.current-secondary-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.current-temp {
    font-weight: 700;
    font-size: 26px;
}

#sevenday-forecast-card-cont {
    display: flex;
    justify-content: space-evenly;
    color: #0350aa;
    max-width: 1380px;
    margin: 0;
    border-radius: 20px;
    gap: 10px;
}

#sevenday-forecast-card-cont:empty {
    display: none;
}

#sevenday-forecast-card-cont.forecast-card {
    text-align: center;
    font-size: 14px;
}

#sevenday-forecast-card-cont > .forecast-card {
    text-align: center;
    width: calc(100%/5);
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px #3337);
    background: #fff7;
    backdrop-filter: blur(10px);
}

body.night #sevenday-forecast-card-cont > .forecast-card {
    text-align: center;
    width: calc(100%/5);
    border: 1px solid #4391f0;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px #3337);
    background: #00000077;
    backdrop-filter: blur(20px);
    color: #fff;
}

.forecast-day {
    font-weight: 600;
    background: #0350aa;
    color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 10px 0;
    outline: 1px solid #0350aa;
}

body.night .forecast-day {
    outline: 1px solid #4391f0;
}

.forecast-temp {
    font-size: 22px;
    font-weight: 700;
    padding: 0 20px;
}

.forecast-conditions {
    margin-top: 10px;
    font-size: 12px;
    padding: 0 20px 20px 20px;
}

.forecast-icon {
    aspect-ratio: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.forecast-icon img {
    max-width: 100%;
    max-height: 100%;
}

body.night .forecast-icon img {
    filter: invert(1) brightness(5) hue-rotate(190deg);
}



