body {
    margin: 0;
    background: #333;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

header {
    background: linear-gradient(90deg, #014CA7, #36A3EE);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    gap:50px;

}

header h1 {
    margin: 0;
    font-size: 16px;
}

header h1 span {
    font-weight: 400;
}

header #search-bar {
    border-radius: 50px;
    padding: 5px 10px;
    outline: none;
    border: 2px solid #3281DA;
    width: 100%;
}

#search-cont {
    flex: 2;
}

.toggle-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.units-toggle-label span.switch {
    width: 30px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    background-color: #124888;
    border: 2px solid #B2CFF1;
    display: block;
    cursor: pointer;
}

.units-toggle-label span.switch::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #ffffff;
    position: absolute;
    left: 0;
    transition: 0.4s;
}

#units-toggle:checked ~ span.switch::before {
    left: 15px;
}

#units-toggle {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}