:root {
    --overcast-day: url('./img/bg/overcast-day.jpg');
    --overcast-night: url('./img/bg/overcast-night.webp');
    --partially-cloudy-day: url('./img/bg/partially-cloudy-day.jpg');
    --partially-cloudy-night: url('./img/bg/partially-cloudy-night.jpg');
    --clear-day: url('./img/bg/clear-day.jpg');
    --clear-night: url('./img/bg/clear-night.jpg');
    --snow-day: url('./img/bg/snow-day.jpg');
    --snow-night: url('./img/bg/snow-night.jpg');
    --rain-day: url('./img/bg/rain-day.jpeg');
    --rain-night: url('./img/bg/rain-night.jpg');


}

body {
    margin: 0;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(75deg, #95d5ff 10%, #36A3EE);
    min-height: 100vh;
    background-size: cover;
    --bg: var(--clear-day);
}

body.day {
    background: linear-gradient(75deg, #ffffff 10%, #fff0),aliceblue var(--bg);
    background-size: cover;

}


body.night {
    color: #ffffff;
    background: linear-gradient(75deg, #000 10%, #fff0),rgb(14, 37, 57) var(--bg);
    background-size: cover;

}

header {
    background: #014CA7;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    gap:50px;

}

header h1 {
    margin: 0;
    font-size: 16px;
}

header h1 span {
    font-weight: 400;
}

header #search-bar {
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #3281DA;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
}

#search-cont {
    flex: 2;
    text-align: center;
}

.toggle-cont {
    display: flex;
    gap: 10px;
    align-items: center;
}

.units-toggle-label span.switch {
    width: 30px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    background-color: #124888;
    border: 2px solid #B2CFF1;
    display: block;
    cursor: pointer;
}

.units-toggle-label span.switch::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #ffffff;
    position: absolute;
    left: 0;
    transition: 0.4s;
}

#units-toggle:checked ~ span.switch::before {
    left: 15px;
}

#units-toggle {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


#dashboard {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
  }
  
.forecast-cards-cont {
padding: 40px;
}


.location-header {
    text-align: center;
    color: #003b80;
    text-align: left;
}

body.night .location-header {
    color: #ffffff;
}

.current-conditions-cont{
    display: flex;
    flex-direction: column;
    color: #0350aa;
    margin: 0 auto;
    padding: 30px 40px;
    gap: 20px;
    width: 100%;
}

body.night .current-conditions-cont{
    color: #ffffff;
}

.current-conditions-details {
    display: flex;
    gap: 40px;
}

.current-conditions-main:empty, .current-conditions-secondary:empty {
    display: none;
}

.current-conditions-main {
    border-radius: 20px;
    text-align: left;
    font-size: 22px;
}

body.night .current-conditions-main img {
    filter: invert(1) brightness(5) hue-rotate(190deg);
}

.current-conditions-secondary {
    padding: 20px 0 20px 20px;
    border-left: 1px solid #bcbcbc;
    font-size: 16px;
}

.current-secondary-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.current-temp {
    font-weight: 700;
    font-size: 26px;
}

#sevenday-forecast-card-cont {
    display: flex;
    justify-content: space-evenly;
    color: #0350aa;
    max-width: 1380px;
    margin: 0;
    border-radius: 20px;
    gap: 10px;
}

#sevenday-forecast-card-cont:empty {
    display: none;
}

#sevenday-forecast-card-cont.forecast-card {
    text-align: center;
    font-size: 14px;
}

#sevenday-forecast-card-cont > .forecast-card {
    text-align: center;
    width: calc(100%/5);
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px #3337);
    background: #fff7;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

body.night #sevenday-forecast-card-cont > .forecast-card {
    text-align: center;
    width: calc(100%/5);
    border: 1px solid #4391f0;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px #3337);
    background: #00000077;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: #fff;
}

.forecast-day {
    font-weight: 600;
    background: #0350aa;
    color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 10px 0;
    outline: 1px solid #0350aa;
}

body.night .forecast-day {
    outline: 1px solid #4391f0;
}

.forecast-temp {
    font-size: 22px;
    font-weight: 700;
    padding: 0 20px;
}

.forecast-conditions {
    margin-top: 10px;
    font-size: 12px;
    padding: 0 20px 20px 20px;
}

.forecast-icon {
    aspect-ratio: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.forecast-icon img {
    max-width: 100%;
    max-height: 100%;
}

body.night .forecast-icon img {
    filter: invert(1) brightness(5) hue-rotate(190deg);
}

#error-msg {
    display: none;

}

#error-msg.active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 30px;
    font-size: 22px;
}

/* Loader styling by https://github.com/vineethtrv */

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.4s infinite ease-in-out;
  }
  .loader {
    display: none;
    margin: auto;
    color: #FFF;
    font-size: 7px;
    position: absolute;
    left: 0;
    right: 0;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.14s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.28s;
  }
  .loader:after {
    left: 3.5em;
  }

  .loader.active {
    display: inline-block;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
      

/* Mobile Styling */

@media (max-width: 800px) {
    header {
        flex-wrap: wrap;
        gap: 20px;
    }
    #search-cont {
        order: 2;
        width: 100%;
    }
    header > div:first-of-type {
        width: 50%;
    }
    .toggle-cont {
        width: calc(50% - 20px);
        justify-content: flex-end;
    }
}

@media (max-width: 600px) {
    #dashboard {
        grid-template: 1fr / 1fr;
        padding: 10px 30px;
    }
    .current-conditions-details {
        flex-direction: column;
    }
    #sevenday-forecast-card-cont.forecast-card {
        flex-direction: column;
    }
    body.night #sevenday-forecast-card-cont > .forecast-card, body.day #sevenday-forecast-card-cont > .forecast-card {
        width: 100%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .forecast-icon {
        aspect-ratio: auto;
        margin-left: 20px;
    }
    .current-conditions-cont {
        width: 100%;
        padding: 0;
    }
    body.night, body.day {
        background-attachment: fixed;
    }
    .forecast-cards-cont {
        padding: 0;
        margin-top: 40px;
    }
    .forecast-day {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    body.night .forecast-icon img, body.day .forecast-icon img {
        max-width: 64px;
    }

}



